{% extends "smartlink-manager/_layouts/settings" %}
{% set title = "Export Settings"|t('smartlink-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'export' %}

{% set crumbs = [
    {
        label: smartlinkHelper.fullName|t('smartlink-manager'),
        url: url('smartlink-manager'),
    },
    {
        label: 'Settings'|t('smartlink-manager'),
        url: url('smartlink-manager/settings'),
    },
    {
        label: 'Export'|t('smartlink-manager'),
        url: url('smartlink-manager/settings/export'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}

    <form method="post" accept-charset="UTF-8">
        {{ actionInput('smartlink-manager/settings/save') }}
        {{ csrfInput() }}
        {{ redirectInput('smartlink-manager/settings/export') }}
        {{ hiddenInput('section', 'export') }}

        <h2 style="margin-top: 0px;">{{ "Analytics Export Options"|t('smartlink-manager') }}</h2>

        {{ forms.lightswitchField({
            label: "Include Disabled {pluginName} in Export"|t('smartlink-manager', {pluginName: smartlinkHelper.pluralDisplayName}),
            instructions: "When enabled, analytics exports will include data from disabled {pluginName}"|t('smartlink-manager', {pluginName: smartlinkHelper.pluralLowerDisplayName}),
            id: 'includeDisabledInExport',
            name: 'settings[includeDisabledInExport]',
            on: settings.includeDisabledInExport ?? false,
            disabled: settings.isOverriddenByConfig('includeDisabledInExport'),
            warning: settings.isOverriddenByConfig('includeDisabledInExport') ?
                "This is being overridden by the <code>includeDisabledInExport</code> setting in <code>config/smartlink-manager.php</code>."|t('smartlink-manager')|raw : null,
        }) }}

        {{ forms.lightswitchField({
            label: "Include Expired {pluginName} in Export"|t('smartlink-manager', {pluginName: smartlinkHelper.pluralDisplayName}),
            instructions: "When enabled, analytics exports will include data from expired {pluginName}"|t('smartlink-manager', {pluginName: smartlinkHelper.pluralLowerDisplayName}),
            id: 'includeExpiredInExport',
            name: 'settings[includeExpiredInExport]',
            on: settings.includeExpiredInExport ?? false,
            disabled: settings.isOverriddenByConfig('includeExpiredInExport'),
            warning: settings.isOverriddenByConfig('includeExpiredInExport') ?
                "This is being overridden by the <code>includeExpiredInExport</code> setting in <code>config/smartlink-manager.php</code>."|t('smartlink-manager')|raw : null,
        }) }}

    </form>

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
