{% extends "smartlink-manager/_layouts/settings" %}
{% import '_includes/forms.twig' as forms %}

{% set title = 'Field Layout'|t('smartlink-manager') %}
{% set selectedSettingsItem = 'field-layout' %}
{% set fullPageForm = not (readOnly ?? false) %}
{% if readOnly ?? false %}
    {% set contentNotice = readOnlyNotice() %}
{% endif %}

{% block content %}

    {% if not (readOnly ?? false) %}
        {{ actionInput('smartlink-manager/settings/save-field-layout') }}
        {{ redirectInput('smartlink-manager/settings/field-layout') }}
    {% endif %}


    <div class="field">
        <p class="readable">
            {{ 'Add custom fields to {singularName} elements. Any fields you add here will appear in the {singularName} edit screen.'|t('smartlink-manager', {singularName: smartlinkHelper.displayName}) }}
        </p>
    </div>

    {% if fieldLayout is defined and fieldLayout %}
        {{ forms.fieldLayoutDesignerField({
            fieldLayout: fieldLayout,
            disabled: readOnly ?? false,
        }) }}
    {% else %}
        <p class="notice">{{ 'No field layout available.'|t('smartlink-manager') }}</p>
    {% endif %}

{% include 'lindemannrock-base/_components/plugin-credit' %}


{% endblock %}
