{% extends "smartlink-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('smartlink-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set crumbs = [
    {
        label: smartlinkHelper.fullName|t('smartlink-manager'),
        url: url('smartlink-manager'),
    },
    {
        label: 'Settings'|t('smartlink-manager'),
        url: url('smartlink-manager/settings'),
    },
    {
        label: 'Interface'|t('smartlink-manager'),
        url: url('smartlink-manager/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}

    {{ actionInput('smartlink-manager/settings/save') }}
    {{ redirectInput('smartlink-manager/settings/interface') }}
    {{ hiddenInput('section', 'interface') }}

        <h2 class="first">{{ "Interface Settings"|t('smartlink-manager') }}</h2>

        {{ forms.textField({
            label: "Items Per Page"|t('smartlink-manager'),
            instructions: "Number of {pluginName} to show per page"|t('smartlink-manager', {pluginName: smartlinkHelper.pluralLowerDisplayName}),
            id: 'itemsPerPage',
            name: 'settings[itemsPerPage]',
            value: settings.itemsPerPage ?? 100,
            type: 'number',
            min: 10,
            max: 500,
            required: true,
            disabled: settings.isOverriddenByConfig('itemsPerPage'),
            warning: settings.isOverriddenByConfig('itemsPerPage') ?
                "This is being overridden by the <code>itemsPerPage</code> setting in <code>config/smartlink-manager.php</code>."|t('smartlink-manager')|raw : null,
            errors: settings.getErrors('itemsPerPage')
        }) }}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
