{% extends "smartlink-manager/_layouts/cp" %}

{% set selectedSubnavItem = 'links' %}
{% set title = smartLink.title ~ " - " ~ "Revisions"|t('smartlink-manager') %}

{% set crumbs = [] %}

{# Site switcher (first item) #}
{% if craft.app.getIsMultiSite() %}
    {% set currentSite = craft.app.sites.getSiteById(smartLink.siteId) %}
    
    {# Get site menu items #}
    {% set siteMenuItems = [] %}
    {% for site in craft.app.sites.getEditableSites() %}
        {% set siteMenuItems = siteMenuItems|merge([{
            label: site.name,
            url: url('smartlink-manager/smartlinks/' ~ smartLink.id ~ '/revisions', {site: site.handle}),
            selected: site.id == smartLink.siteId
        }]) %}
    {% endfor %}
    
    {% set crumbs = [{
        id: 'site-crumb',
        icon: 'world',
        label: currentSite.name|t('site'),
        menu: {
            items: siteMenuItems,
            label: 'Select site'|t('smartlink-manager')
        }
    }] %}
{% endif %}

{# Main navigation #}
{% set crumbs = crumbs|merge([
    {
        label: smartlinkHelper.fullName,
        url: url('smartlink-manager')
    },
    {
        label: smartLink.title,
        url: url('smartlink-manager/smartlinks/' ~ smartLink.id)
    },
    {
        label: "Revisions"|t('smartlink-manager')
    }
]) %}

{% block content %}
    {% set revisionsQuery = craft.smartLinks.revisionOf(smartLink.getCanonicalId()).siteId(smartLink.siteId) %}
    {% paginate revisionsQuery.limit(100) as pageInfo, revisions %}
    
    {% if revisions is not empty %}
        <div class="main tablepane">
            <table id="revisions" class="data fullwidth">
                <thead>
                    <th scope="col">{{ 'Revision'|t('smartlink-manager') }}</th>
                    <th scope="col">{{ 'Created at'|t('smartlink-manager') }}</th>
                    <th scope="col">{{ 'Created by'|t('smartlink-manager') }}</th>
                    <th scope="col">{{ 'Notes'|t('smartlink-manager') }}</th>
                </thead>
                <tbody>
                    {% for revision in revisions %}
                        {% set creator = revision.getCreator() %}
                        {% set revisionLabel = revision.revisionLabel %}
                        <tr data-id="{{ revision.id }}" tabindex="0">
                            <th data-title="{{ "Revision"|t('smartlink-manager') }}">
                                <a href="{{ url('smartlink-manager/smartlinks/' ~ revision.id, {site: smartLink.site.handle}) }}">{{ revisionLabel }}</a>
                            </th>
                            <td data-title="{{ "Created at"|t('smartlink-manager') }}">{{ revision.dateCreated|timestamp('short', withPreposition=false) }}</td>
                            <td data-title="{{ "Created by"|t('smartlink-manager') }}">
                                {% if creator %}
                                    {{ cp.elementChip(creator) }}
                                {% endif %}
                            </td>
                            <td data-title="{{ 'Notes'|t('smartlink-manager') }}">{{ revision.revisionNotes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="footer" class="flex">
            <div id="count-container" class="light flex-grow">
                {% include '_includes/pagination' with {
                    'pageInfo' : pageInfo,
                    'itemLabel' : 'revision'|t('smartlink-manager'),
                    'itemsLabel': 'revisions'|t('smartlink-manager')
                } %}
            </div>
        </div>

    {% else %}
        <p class="zilch">
            {{ 'This {type} doesn\'t have revisions.'|t('smartlink-manager', {
                type: smartLink.lowerDisplayName(),
            }) }}
        </p>
    {% endif %}
{% endblock %}
